<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
																																																																																								           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

		{#{{ encore_entry_link_tags('app') }}#}
		{% endblock %}

		{% block javascripts %}
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

			{#{{ encore_entry_script_tags('app') }}#}
		{% endblock %}
	</head>
	<body>
		<div class="container m-2">
			<div class="row">
				<div class="col-10">
					<a href="{{path('new_phone') }}" class="btn btn-info my-2 me-1">Add Phone</a>
					<a href="{{path('new_constructeur')}}" class="btn btn-success me-1">Add Manufacturer</a>
					<a href="{{path('constructeur')}}" class="btn btn-dark me-1">Constructeurs List</a>
					<a href="{{path('phone')}}" class="btn btn-secondary me-1">Phones List</a>
					{% if app.user != null %}
						<a href="{{path('logout')}}" class="btn btn-dark">Logout</a>
						<span class="text-right">
							welcome:
							{{app.user.username}}
						</span>
					{% else %}
						<a href="{{path('login')}}" class="btn btn-primary">Login</a>
						<a href="{{path('register')}}" class="btn btn-dark">Register</a>
					{% endif %}
				</div>
			</div>
		</div>


		{% block body %}{% endblock %}
	</body>
</html>
